@import "tailwindcss";

@theme {
  --color-ghana-green: #006b3f;
  --color-ghana-green-dark: #005230;
  --color-ghana-green-light: #008c50;
  --color-ghana-gold: #fcd116;
  --color-ghana-gold-dark: #f0c813;
  --color-ghana-red: #ce1126;
  --font-sans: var(--font-geist-sans);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
}
